body {
  font-family: "Open Sans Condensed";
  padding: 20px 60px;
}

a {
  text-decoration: none;
  color: black;
}

/* TODO: This is what aligns all items to their end, it ignores padding */
* {
  box-sizing: border-box;
}

@media screen and (max-width: 800px) {
  body {
    padding: 20px 10px;
  }
}